/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid cyan !important;
}

/* label underline focus color */
.input-field textarea:focus {
  border-bottom: 1px solid cyan !important;
}

/* label underline focus color */
.input-field input[type="email"]:focus {
  border-bottom: 1px solid cyan !important;
}
