.footer-copyright-small {
  font-size: 12px;
}

.instagram-icon {
  margin-right: 20px;
}

.icon-div {
  width: 25px;
  color: #616161;
}

.footer-logo {
  width: 200px;
  height: auto;
  transition: 0.5s;
  margin-top: 21px;
}

.adress-wrapper {
  display: flex;
}

@media (max-width: 600px) {
  .footer-logo img {
    width: 100px;
  }
}
